@font-face {
    font-family: raleway-thin;
    src: url(Raleway-Thin.ttf);
}

html, body {
    margin: 0px;
    padding: 0px;
    
    font-family: sans-serif;
}

.animated {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -m-transition: all 0.25s;
    transition: all 0.25s;
}

.header {
    background-color: #EEE;
    color: #2D4675;
    padding: 10px;
    position: fixed;
    width: calc(100% - 20px);
    height: 40px;
    position: fixed;
    box-shadow: 0px 0px 3px #2D4675;
    z-index: 11;
}

.header-title {
    font-size: 2em;
    display:inline-block;
    font-weight: 200;
    margin-left: 20px;
    position: relative;
    background-image: url("../images/ACCUO.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: -5px;
    width: 120px;
    height: 56px;
}

.header-title:hover {
    cursor: pointer; 
    cursor: hand; 
}

.hamburger {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    overflow: hidden;
    height: 0px;
}

.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: #2D4675;
    margin-bottom: 10px;
}

.ham1-clicked {
    -ms-transform: rotate(45deg) translate(0px, 20px);
    -webkit-transform: rotate(45deg) translate(0px, 20px);
    transform: rotate(45deg) translate(0px, 20px);
    width: 200%;
}

.ham2-clicked {
    -ms-transform: translate(15px, 0px);
    -webkit-transform: translate(15px, 0px);
    transform: translate(15px, 0px);
    width: 0%;
}

.ham3-clicked {
    -ms-transform: rotate(-45deg) translate(0px, -18px);
    -webkit-transform: rotate(-45deg) translate(0px, -18px);
    transform: rotate(-45deg) translate(0px, -18px);
    width: 200%;
}

.menu {
    display: inline-block;
    position: absolute;
    right: 50px;
    height: 40px;
}

.menu-title {
    position: relative;
    display: inline-block;
    text-align: left;
    height: 40px;
    width: 120px;
    line-height: 40px;
    padding-right: 20px;
    font-weight: 100;
    vertical-align: top;
}

.menu-title:hover {
    cursor: pointer; 
    cursor: hand;     
}

.menu-underline {
    position: absolute;
    bottom: -5px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: #2D4675;
    opacity: 0;
    z-index: 10;
}

.menu-underline-active {
    bottom: 5px;
    opacity: 1;
}

.menu-subtitle {
    background-color: #EEE;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 0.85em;
}

.menu-subtitle:hover {
    background-color: #DDD;
}

.menu-sub {
    box-shadow: 0px 0px 1px #2D4675;
    z-index: 9;
    top: 5px;
    position: relative;
    opacity: 0;
    height: 0px;
    overflow: hidden;
}

.menu-sub-active {
    top: -5px;
}

.menu-sub-clicked {
    opacity: 1;
    height: 200px;
}

.sidebar {
    position: fixed;
    right: 0px;
    top: calc(50% - 105px);
    color: white;
    z-index: 10;
}

.bubble-cont {
    height: 30px;
    position: absolute;
    right: 10px;
}

.bubble {
    width: 5px;
    height: 5px;
    border: 1px solid #2D4675;
    box-shadow: 0px 0px 1px #2D4675;
    background-color: white;
    border-radius: 100%;
    position: relative;
    right: 10px;
    top: 15px;
}

.bubble-white {
    border: 1px solid white;
    box-shadow: 0px 0px 1px white;
    background-color: #2D4675;
}

.big-bubble {
    width: 10px;
    height: 10px;
    background-color: #2D4675;
    right: 7.5px;
    top: 12.5px;
}

.big-bubble-white {
    background-color: white;
}

.bubble-title {
    position: absolute;
    right: 20px;
    width: 125px;
    top: 2.5px;
    text-align: right;
    color: #2D4675;
    font-weight: 100;
    font-size: 1.1em;
    opacity: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.team-bubble-title {
    width: 80px;
}

.news-bubble-title {
    width: 50px;
}

.team-bubble-title-white, .news-bubble-title-white {
    color: white;
    background-color: #2D4675;
}

.team-bubble-title-white {
    color: #2D4675;
    background-color: white;
}

.bubble-title-show {
    opacity: 1;
    right: 20px;
}

/* EMILY START HERE */

.pane {
    position: relative;
    width: 100%;
    background-color: white;
    color: #2D4675;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    overflow: hidden;
}

.team-pane {
    position: relative;
    width: 80%;
    background-color: white;
    color: #2D4675;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
}


#home, #mission, #problem, #solution, #contact {
    height: 100%;
}

#tech, #team, #news {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #2D4675;
}

#tech, #team {
    background-color: white;
}

#news {
    padding-top: 175px;
}

.paragraph {
    position: relative;
    top: 50%;
}

.em-paragraph {
    font-size: .7em;
    position: relative;
    top: 15%;
    margin-right: 12%;
    margin-left: 12%; 
    font-weight: 100;
    color: rgba(45,70,117, 0.7);
}

#tech > .em-paragraph {
    padding-top: 25px;
}

.tech-image {
    position: relative;
    float: left;
    width: 50%;
    height: auto;
}

.tech-info {
    float: left;
    position: relative;
    width: 50%;
    line-height: 125%;
    text-align: left;
}

.em-tparagraph {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size:.7em;
    position: relative;
    margin-left: calc(50% - 600px - 30px);
}

.em-paragraph-mission {
    top: calc(50% - 175px);
    font-size: 0.9em;
    line-height: 200%;
    color: rgba(45,70,117, 0.7);
    margin: 0px 15%;
}

.giant-quotes {
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    top: calc(50% - 300px);
    left: 75%;
    font-size: 15em;
    color: rgba(45,70,117, 0.25);
    letter-spacing: -15px;
}

.giant-quotes-inverted {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    
    top: calc(50% - 200px);
    left: calc(25% - 210px);
}

.pane-title {
    position: relative;
    width: 100%;
    text-align: center;
    top: calc(50% - 250px);
    margin-bottom: 10px;
    font-weight: 100;
}

.em-pane-title {
    font-size: 2em;
    position: relative;
    width: 100%;
    text-align: left;
    top: calc(12% + 10px);
    left: 25px;
    margin-bottom: 10px;
    font-weight: 100;
    color: rgba(45,70,117, 0.75);
    font-family: raleway-thin;
}

#news > .em-pane-title {
    top: -100px;
}

.em-pane-title-white {
    color: rgba(255, 255, 255, 0.75);
}

.dashed-border {
    position: relative;
    top: 12%;
    left: -50%;
}

.dashed-border::before {
    content:"";
    position: absolute;
    top:0;
    left:6px;
    right:0;
    width: 100%;
    height: 3px;
    z-index: 2;
}

.dashed-border:after {
    content:"";
    position: absolute;
    bottom: -3px;
    left: -3px;
}

.dashed-border::after {
    right: -3px;
    height: 2px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(45,70,117,0)), color-stop(50%, #2d4675), color-stop(51%, #2d4675), color-stop(90%, rgba(45,70,117,0)));
    background-image: -webkit-linear-gradient(left, rgba(45,70,117,0) 10%, rgba(45,70,117, 0.5) 50%, rgba(45,70,117, 0.5) 51%, rgba(45,70,117,0) 90%);
    background-image: -moz-linear-gradient(left, rgba(45,70,117,0) 10%, rgba(45,70,117, 0.5) 50%, rgba(45,70,117, 0.5) 51%, rgba(45,70,117,0) 90%);
    background-image: -o-linear-gradient(left, rgba(45,70,117,0) 10%, rgba(45,70,117, 0.5) 50%, rgba(45,70,117, 0.5) 51%, rgba(45,70,117,0) 90%);
    background-image: -ms-linear-gradient(left, rgba(45,70,117,0) 10%, rgba(45,70,117, 0.5) 50%, rgba(45,70,117, 0.5) 51%, rgba(45,70,117,0) 90%);
    background-image: linear-gradient(to right, rgba(45,70,117,0) 10%, rgba(45,70,117, 0.5) 50%, rgba(45,70,117, 0.5) 51%, rgba(45,70,117,0) 90%);
}

.dashed-border-white::after {
    right: -3px;
    height: 3px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(45,70,117,0)), color-stop(50%, #2d4675), color-stop(51%, #2d4675), color-stop(90%, rgba(45,70,117,0)));
    background-image: -webkit-linear-gradient(left, rgba(45,70,117,0) 10%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 51%, rgba(255, 255, 255,0) 90%);
    background-image: -moz-linear-gradient(left, rgba(45,70,117,0) 10%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 51%, rgba(255, 255, 255,0) 90%);
    background-image: -o-linear-gradient(left, rgba(45,70,117,0) 10%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 51%, rgba(255, 255, 255,0) 90%);
    background-image: -ms-linear-gradient(left, rgba(45,70,117,0) 10%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 51%, rgba(255, 255, 255,0) 90%);
    background-image: linear-gradient(to right, rgba(45,70,117,0) 10%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 51%, rgba(255, 255, 255,0) 90%);
}

#news > .dashed-border {
    top: -100px;
}

.soln-icon {
    position: relative;
    width: 90%;
    margin: 0px 25%;
    margin-top: 15%;
}

.soln-col {
    position: relative;
    float: left;
    width: 33%;
    margin-top: 8%;
}

.soln-col-para {
    font-size: 18px;
    margin: 0px 12.5%;
    margin-top:14%;
}

.team-image-cont {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    float: left;
    padding: 0px;
    margin: 0px;
    margin: 10px;
    box-shadow: 0px 0px 2px black;
}

.team-image-cont:hover {
    box-shadow: 0px 0px 10px black;
}

.team-image {
    position: relative;
    width: 100%;
    height: auto;
}

.team-panel {
    position: absolute;
    top: -135%;
    left: -95%;
    width: 100%;
    height: 200%;
    background-color: #2D4675;
        
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
}

.panel-right {
    background-color: white;
    top: 55%;
    left: 70%;
}

.panel-move-left {
    left: -57%;
    top: -97%;
}

.panel-move-right {
    left: 3%;
    top: -17%;
}

.team-panel-overlay {
    position: absolute;
    width: calc(100% - 30px);
    top: -50%;
    left: -50%;
    font-size: 2em;
    text-align: left;
    padding: 15px;
    padding-top: 10px;
    background-color: #2D4675;
    color: white;
}

.panel-overlay-right {
    background-color: rgba(0, 0, 0, 0);
    top: auto;
    left: auto;
    right: -100%;
    bottom: -100%;
    width: calc(75% - 15px);
    display: table-cell;
    font-size: 1em;
    text-align: right;
    color: #777;
}

.panel-overlay-move-left {
    top: 0%;
    left: 0%;
}

.panel-overlay-move-right {
    right: 0%;
    bottom: 0%;
}

.team-panel-border {
    position: absolute;
    top: -50%;
    left: -50%;
    width: calc(100% - 17px);
    height: calc(100% - 17px);
}

.panel-border-right {
    top: 50%;
    left: 50%;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-left: none;
    border-top: none;
}

.panel-border-move-left, .panel-border-move-right {
    top: 7px;
    left: 7px;
}


/* END HERE */

.article {
    width: calc(33% - 55px);
    overflow: hidden;
    font-size: 0.5em;
    background-color: #FFF;
    box-shadow: 5px 5px 0px #7396DC;
    text-align: left;
    margin: 25px;
    padding-bottom: 0px;
    float: left;
    position: relative;
}

.article:hover {
    box-shadow: 10px 10px 0px #7396DC;
}

.article-active {
    height: auto;
}

.article > .image-cont {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
}

.article > .image-cont > .image {
    width: auto;
    height: 100%;
    position: relative;
    left: -50%;
}

.article > .date {
    font-size: 1.75em;
    color: white;
    background-color: #7396DC;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    text-align: center;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 100;
}

.article > .popout {
    position: relative;
    background-color: white;
    top: 0px;
}

.article > .popout > .top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #7396DC;
    z-index: 0;
}

.article > .popout > .location {
    font-size: 0.75em;
    font-weight: 100;
    padding: 10px;
    color: white;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.article > .popout > .title {
    font-size: 1.5em;
    font-weight: 100;
    padding: 10px;
    color: #7396DC;
    line-height: 1.4em;
}

.article > .date > .small-date {
    font-size: 0.5em;
    display: block;
}

.article > .popout > .link {
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 2.5px;
    padding-top: 10px;
    text-decoration: underline;
    float: right;
    font-size: 0.75em;
    background-image: url("../images/arrow.png");
    background-size: 100% 100%;
    width: 15px;
    height: 15px;
    position: relative;
    z-index: 1;
}

.article > .popout > .exit {
    position: relative;
    margin-top: 5px;
    width: 0px;
    height: 20px;
    float: right;
    overflow: hidden;
}

.article > .popout > .exit:hover {
    cursor: pointer; 
    cursor: hand; 
}

.article > .popout > .exit > .exit-hr {
    background-color: white;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
}

.article > .popout > .exit > #exit-1 {
    -ms-transform: rotate(45deg) translate(0px, 8px);
    -webkit-transform: rotate(45deg) translate(0px, 8px);
    transform: rotate(45deg) translate(0px, 8px);
    width: 200%;
}

.article > .popout > .exit > #exit-2 {
    -ms-transform: rotate(-45deg) translate(0px, -13px);
    -webkit-transform: rotate(-45deg) translate(0px, -13px);
    transform: rotate(-45deg) translate(0px, -13px);
    width: 200%;
}

.article > .popout > .body {
    padding: 10px;
    padding-top: 0px;
    color: #777;
    height: 0px;
    padding-bottom: 0px;
    overflow: scroll;
}

.pure-form {
    position: relative;
    top: calc(50% - 250px);
}

.pure-group {
    border: none;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
}

.pure-group > label {
    font-size: 0.5em;
    float: left;
    position: absolute;
    left: calc(50% - 190px);
    top: 22px;
    padding: 3px;
    padding-bottom: none;
}

.pure-group > input, .pure-group > textarea {
    position: relative;
    border: none;
    float: left;
    font-size: 0.6em;
    top: -2px;
    left: calc(50% - 200px);
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    resize: none;
    padding: 10px;
    border-radius: 5px;
}

.pure-group > .input-label-active {
    top: -2px;
    background-color: white;
    color: #2D4675;
}

.pure-group > .input-active {
    border-color: rgba(45,70,117, 0.5);
    color: #2D4675;
}

.email-invalid, .name-invalid {
    color: red;
    position: relative;
    top: 36px;
    font-size: 0.4em;
    left: -299px;
    background-color: white;
    padding: 3px;
    padding-top: 0px;
    opacity: 0;
}

.name-invalid {
    left: -325px;
}

.email-invalid-active {
    opacity: 1;
}

#gform > button {
    position: relative;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 40px;
    font-size: 0.6em;
    font-weight: 100;
    border-radius: 5px;
    background-color: white;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 5px;
}

#gform > button:hover {
    border-color: rgba(45,70,117, 0.5);
    color: #2D4675;
    cursor: pointer; 
    cursor: hand; 
}

#gform > button:active {
    background-color: rgba(45,70,117, 1);
    color: white;
    cursor: pointer; 
    cursor: hand; 
}

#gform > .button-loading {
    border-color: rgba(45,70,117, 1);
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

#gform > .button-loading:hover {
    border-color: rgba(45,70,117, 1);
    cursor: default;
}

#gform > .button-loading:active {
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
}

.loading-bubble {
    position: absolute;
    top: 15px;
    left: 45px;
    width: 10px;
    height: 10px;
    background-color: #2D4675;
    border-radius: 10px;
    opacity: 0;
}

.loading-bubble-active {
    opacity: 1;
}

textarea:focus, input:focus {
    outline: none;
}

@media screen and (max-width: 1280px) { 
    .em-tparagraph {
        margin-left: calc(50% - 525px - 30px);
    }
    
    .team-image-cont {
        width: 350px;
        height: 350px;
    }
    
    .panel-overlay-right {
        font-size: 0.85em;   
    }
}

@media screen and (max-width: 1110px) {    
    .em-tparagraph {
        margin-left: calc(50% - 350px - 20px);
    }
}

@media screen and (max-width: 1000px) { 
    .article {
        width: calc(50% - 63px);
    }
}

@media screen and (max-width: 740px) {    
    .em-tparagraph {
        margin-left: calc(50% - 175px - 10px);
    }
}

@media screen and (max-width: 370px) {    
    .em-tparagraph {
        margin-left: calc(50% - 125px - 10px);
    }
    
    .team-image-cont {
        width: 250px;
        height: 250px;
    }
    
    .panel-overlay-left {
        font-size: 1.3em;
    }
    
    .panel-overlay-right {
        font-size: 0.65em;
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 700px) { 
    .header {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    
    .hamburger {
        height: 30px;
    }

    .menu {
        display: block;
        position: relative;
        left: 0px;
        top: -6px;
        padding: 0px;
        height: 0px;
        overflow: hidden;
        box-shadow: 0px 3px 3px -3px #2D4675;
    }
    
    .menu-active {
        height: 350px;
    }
        
    .menu-title {
        width: calc(100%);
        height: auto;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #EEE;
    }
    
    .menu-title:hover {
        background-color: #DDD;
    }
    
    .menu-sub {
        background-color: none;
        box-shadow: none;
        opacity: 1;
        height: auto;
        top: -5px;
    }
    
    .menu-sub-active {
        top: -5px;
    }
    
    .menu-subtitle {
        background-color: rgba(0, 0, 0, 0);
    }
    
    .menu-subtitle:hover {
        background-color: rgba(0, 0, 0, 0);
    }
    
    .menu-underline-active {
        bottom: 5px;
        opacity: 0;
    }

    .sidebar {
        height: 0px;
        overflow: hidden;
    }
    
    #home, #mission, #problem, #tech, #solution, #team, #contact {
        height: auto;
    }
    
    .em-pane-title {
        top: 75px;
        left: 0px;
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }
    
    .news-title {
         top: 0px;   
    }
    
    .dashed-border {
        left: 0px;
        top: 75px;
    }
    
    .news-dashed-border {
         top: 0px;   
    }
    
    .em-paragraph-mission {
        line-height: 150%;
        top: 125px;
        font-size: 0.6em;
        padding-bottom: 150px;
        margin: 0px 5%;
    }
    
    .giant-quotes {
        left: 40%;
        top: calc(50% - 300px);
    }
    
    .giant-quotes-inverted {
        left: calc(60% - 210px);
        top: calc(50% - 150px);
    }
    
    #tech > .em-paragraph {
        padding-top: 100px;
    }
    
    .tech-image {
        width: 100%;
    }
    
    .tech-info {
        width: 100%;
        font-size: 0.75em;
    }
    
    .panel-left {
        background-color: white;
    }
    
    .article {
        width: calc(100% - 55px);
    }
    
    .article:hover {
        box-shadow: 5px 5px 0px #7396DC;
    }
    
    .article > .popout > .link {
        margin-right: 20px;
    }
        
    .article > .popout > .exit-active {
        margin-right: 20px;
        width: 20px;
    }
    
    .pure-group > label {
        left: 30px;
    }
    
    .pure-group > input, .pure-group > textarea {
        left: 0%;
        width: calc(100% - 0px);
    }
    
    #contact {
        height: auto;
    }
    
    .pure-form {
        position: relative;
        top: 0px;
    }
    
    #gform > button {
        margin-bottom: 100px;
    }
    
    .contact-title {
        margin-bottom: 100px;
        top: 75px;
    }
}
